@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #fafbfc;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline-offset: 0;
  outline: 2px solid transparent;
}

*:focus-visible {
  outline-color: #1f3643;
  outline-offset: 2px;
  transition: outline-offset 150ms ease-out;
}